<div class=" col-md-6 offset-md-3">
<h4>Add New Patient</h4>
<div class="card">
    <div class="card-body">
<form (ngSubmit)= "onSubmit()">

    <div class="mb-3">
        <label   class="form-label">Name</label>
        <input type="text" class="form-control" id="patientName" 
            [(ngModel)]="patient.patientName" name="patientName"  placeholder="Enter your name">
    </div>
    <div class="mb-3">
        <label  class="form-label">Age</label>
        <input type="text" class="form-control" id="patientAge"
            [(ngModel)]="patient.patientAge" name="patientAge"  placeholder="Enter your age">
    </div>
    <div class="mb-3">
        <label class="form-label">DateOfVist</label>
        <input type="date" class="form-control" id="patientDateOfVist" 
            [(ngModel)]="patient.patientDateOfVist" name="patientDateOfVist">
    </div>
    <div class="mb-3">
        <label class="form-label">VisitedDoctor </label>
        <select class="form-select" [(ngModel)]="patient.patientVisitDoctor" name="patientVisitDoctor" aria-label="Default select example">
            <option value="">--Select VisitedDoctor--</option>
            <option *ngFor = "let doctor of doctors" value="{{doctor.doctorName}}">{{doctor.doctorName}}</option>
          </select>
    </div>  
    <div class="mb-3">
        <button type="submit" class="btn btn-info">Submit</button>
    </div>
    </form>
</div>
</div>
</div>
