<div class=" col-md-6 offset-md-3">
  <h4>Add New Doctor</h4>
<div class="card">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
          <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" [(ngModel)]="doctor.doctorName" 
            class="form-control" 
            id="doctorName" 
            name="doctorName" 
            placeholder="Enter your name">
         </div>
        <div class="mb-3">
          <label for="doctorAge" class="form-label">Age</label>
          <input type="text" [(ngModel)]="doctor.doctorAge" 
            class="form-control" 
            id="doctorAge" 
            name="doctorAge" 
            placeholder="Enter your Age">
        </div>
        <div class="mb-3">
            <label for="doctorGender" class="form-label">Gender</label>
            <input type="text" [(ngModel)]="doctor.doctorGender" 
              class="form-control" 
              id="doctorGender" 
              name="doctorGender" 
              placeholder="Enter your Gender">             
          </div>
          <div class="mb-3">
            <label for="doctorSpecilist" class="form-label">Specilist-Fields</label>
            <input type="text" [(ngModel)]="doctor.doctorSpecilist" 
              class="form-control" 
              id="doctorSpecilist" 
              name="doctorSpecilist" 
              placeholder="Enter your Specilist-Fields">
          </div>
          <div class="mb-3">
            <label for="noOfPatientAddened" class="form-label">No.Of Patient Addened</label>
            <input type="text" [(ngModel)]="doctor.noOfPatientAddened" 
              class="form-control" 
              id="noOfPatientAddened" 
              name="noOfPatientAddened" 
              placeholder="Enter No.Of Patient Addened">
           </div>
          <div class="mb-3">
        <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>